<!DOCTYPE html>
<html lang="en">
<head>
  <title>Social</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <!--boxicon cdn-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

</head>
<style>
  body{
    background-color: grey;
    color: whitesmoke;
  }
  .card{
    background-color: white;
    color: black;
  }
  .breadcrumb{
    place-content: center;
  }

</style>
<body>
<div class="content">
<div class="container text-center">
  <h1>Home</h1>
  <p>welcome</p>
<!-- menu -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'signup' %}"><i class="fa-solid fa-user-plus fa-lg"></i></a></li>
    <li class="breadcrumb-item"> <a href="{% url 'posts' %}"><i class="fa-solid fa-signs-post fa-lg"></i></a> </li>
    <li class="breadcrumb-item">  <a href="{% url 'login' %}"><i class="fa-solid fa-right-to-bracket fa-lg"></i> </a></li>
    <li class="breadcrumb-item" id="plane">  <a href="#"><i class="fa-regular fa-paper-plane fa-lg" id="plane"></i> </a></li>


  </ol>
</nav>

<!--end menu-->
 

  <!--card -->
  <div class="container text-center">
    <div class="card">
      <div class="card-body">
        <h2>
        Socialize with friends
        </h2>
      </div>
    </div>
  </div>
  </div>
  <script>function msg(){
    alert("This is not yet aviable");
    document.getElementById("plane").addEventListener("click", msg);

  }</script>
 </body>