<head>
  <title>Social blade</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>
<h2 class="text-3xl font-bold" style="text-align: center;"> Welcome {{ request.user.username }}</h2>
<br>
<br>

<h2 style="text-align: center;"> to your profile page</h2>

 
<div class="container-fluid text-center">
  <h2><a href="{% url 'index' %}">Home page</a></h2>
  <h2 class="active">
    <a href="{% url 'posts' %}">View the latest Post</a> 
    or      <br>   
    <a href="{% url 'postform' %}">Create new post</a>

  </h2>        
  
  </div>

  <script>alert("This page is currently being worked on. Some links or buttons may not be functional till production is finished.");</script>